body {
    margin: 0px;
    font-family: 'Pretendard';
}

h2{
    font-size: 20px;
    margin: 20px 20px 0;
    line-height: 1.5;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;
    line-height: 1.5;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

button {
    font-family: Pretendard;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

